apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://cae-alln.cisco.com:443
  name: cae-alln-cisco-com:443
- cluster:
    insecure-skip-tls-verify: true
    server: https://cae-rcdn.cisco.com:443
  name: cae-rcdn-cisco-com:443
- cluster:
    insecure-skip-tls-verify: true
    server: https://cae-rtp.cisco.com:443
  name: cae-rtp-cisco-com:443
- cluster:
    insecure-skip-tls-verify: true
    server: {{ .INSTANCE }}
  name: {{ .INSTANCE_NAME }}
contexts:
- context:
    cluster: cae-alln-cisco-com:443
    namespace: {{ .NAMESPACE }}
    user: {{ .USERNAME }}/cae-alln-cisco-com:443
  name: {{ .NAMESPACE }}/cae-alln-cisco-com:443/{{ .USERNAME }}
- context:
    cluster: cae-rcdn-cisco-com:443
    namespace: {{ .NAMESPACE }}
    user: {{ .USERNAME }}/cae-rcdn-cisco-com:443
  name: {{ .NAMESPACE }}/cae-rcdn-cisco-com:443/{{ .USERNAME }}
- context:
    cluster: cae-rtp-cisco-com:443
    namespace: {{ .NAMESPACE }}
    user: {{ .USERNAME }}/cae-rtp-cisco-com:443
  name: {{ .NAMESPACE }}/cae-rtp-cisco-com:443/{{ .USERNAME }}
- context:
    cluster: {{ .INSTANCE_NAME }}
    namespace: {{ .NAMESPACE }}
    user: {{ .USERNAME }}/{{ .INSTANCE_NAME }}
  name: {{ .NAMESPACE }}/{{ .INSTANCE_NAME }}/{{ .USERNAME }}
