apiVersion: v1
kind: DeploymentConfig
metadata:
  name: {{ .APP_NAME }}
  namespace: {{ .NAMESPACE }}
  labels:
    name: {{ .APP_NAME }}-{{ .LIFECYCLE }}
spec:
  template:
    metadata:
      labels:
        name: {{ .APP_NAME }}
        availability_zone: {{ .AVAIL_ZONE }}
      annotations:
        app_version: {{ .IMAGE_TAG }}
    spec:
      containers:
        - name: {{ .APP_NAME }}
          image: {{ .IMAGE_NAME }}:{{ .IMAGE_TAG }}
          command: ["/bin/sleep"]
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          # ports:
            # add ports here
          # livenessProbe:
            # add probe to check if container is running as expected here
          # readinessProbe:
            # add probe to check if container is ready to start accepting requests here
          imagePullPolicy: Always
          # resources:
            # add initial resources required (CPU, Memory) here
            # requests:
              # cpu:
              # memory:
            # add max resources allowed (CPU, Memory) here
            # limits:
              # cpu:
              # memory:
      restartPolicy: Always
      dnsPolicy: ClusterFirst
  replicas: 1
  selector:
    name: {{ .APP_NAME }}
  triggers:
    - type: ConfigChange
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 120
