apiVersion: v1
kind: Secret
metadata:
  name: {{ .APP_NAME }}
  namespace: {{ .NAMESPACE }}
  annotations:
    lifecycle: {{ .LIFECYCLE }}
data:
  common.db.password: {{ b64enc .SECRET_DB_PASSWORD }}
  common.internal.api.key: {{ b64enc .SECRET_INTERNAL_API_KEY }}
  common.client.password: {{ b64enc .SECRET_CLIENT_PASSWORD }}
  common.client.secret: {{ b64enc .SECRET_CLIENT_SECRET }}
  common.openstack.client.password: {{ b64enc .SECRET_OPENSTACK_CLIENT_PASSWORD }}
  common.openstack.client.secret: {{ b64enc .SECRET_OPENSTACK_CLIENT_SECRET }}
  common.iam.ldap.password: {{ b64enc .SECRET_IAM_LDAP_PASSWORD }}
  common.synthetic.influx: {{ b64enc .SECRET_SYNTHETIC_INFLUX }}
